@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: var(--color-slate-800);
  --primary-light: #00b4ec;
  --primary-dark: #1f73b8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-slate-950);
    --foreground: var(--color-slate-50);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
